[submodule "Tuist"]
	path = Tuist
	url = https://github.com/jhseo/AppStoreCloneTuist.git
[submodule "AppStoreCloneToday"]
	path = Projects/AppStoreCloneToday
	url = https://github.com/jhseo/AppStoreCloneToday.git
[submodule "AppStoreCloneMain"]
	path = Projects/AppStoreCloneMain
	url = https://github.com/jhseo/AppStoreCloneMain.git
